body {
  margin: 0;
  font-family: 'Barlow Condensed', 'sans-serif';
  /* font-family:'Times New Roman', Times, serif */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

@font-face {
  font-family: 'SuperFunky';
  src: url('./fonts/SuperFunky.ttf') format('truetype');
}

#logo-h1 {
  font-family: 'SuperFunky';
}

#reviews-link {
  font-family: 'SuperFunky';
  color: #5a3d2b;
}

.movie-container {
  /* border: 2px solid blue; */
  display: flex;
}

#movie-card-left {
  /* border: 2px solid pink; */
  width: 20rem;
}

#movie-card-right {
  /* border: 2px solid orange; */
  width: 35rem;
}

#review-card {
  height: 100px;
}

#user-review-content {
  /* border: 2px solid pink; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#review-toggle-div {
  border: 2px solid purple;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e5771e;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #f4a127;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  left: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f4a127;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  top: 0; 
  bottom: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #e5771e;
  /* height: 100vh; */
  padding: 2.5em .5em 0;
  font-size: 1.15em;
  /* right: 36px; */

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: 	#f4a127;
  
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffecb4;
  padding-left: 0.9em;
  padding-right: 3.2em;
  font-size: 1.3em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}




/* .header{
  background-color: #FFEFE4;
  height: 8rem;
} */

nav a {
  text-decoration: none;
  font-size: 1.4rem;
  /* color: #712628; */
  color: #5a3d2b;
  transition: 0.1s;
  /* vertical-align: middle; */
}

nav a:hover{
  color: #75c8ae;
  border-bottom: 2px solid #f4a127;
}
/* .navImage{
  height: 5.5rem;
  float: right;
  padding-right: 4rem;
  padding-top: 1.3rem;
} */

.poster {
  height: 20rem;
}