body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #FFEFE4;
  height: 8rem;
}

nav a {
  /* display: inline-flex; */
  padding-top: 1.5rem;
  margin: 2rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #712628;
  transition: 0.1s;
  vertical-align: middle;
  line-height: 8rem;
}
nav a:hover{
  color: #F76507;
  border-bottom: 2px solid #40BA93;
}
.navImage{
  height: 5.5rem;
  float: right;
  padding-right: 4rem;
  padding-top: 1.3rem;
}

.poster {
  height: 20rem;
}